@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
}

:root {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
  /* ширина для вертикального скролла */
  height: 1px;
  /* высота для горизонтального скролла */
  background-color: #143861;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #215999;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #215999;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}

.main-page-body {
  height: 100%;
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
}

.wrapper {
  width: 65%;
  margin: 0 auto;
  max-width: 1100px;
}

ul {
  list-style-type: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-family: "Rubik";
}

h2,
h3,
h4 {
  font-weight: 800;
}

h5,
h6 {
  font-weight: 600;
}

p {
  font-weight: 400;
}

a {
  text-decoration: none;
}

.gradient-back-main {
  background: radial-gradient(43.56% 75.24% at 50% 0%, rgba(92, 246, 236, 0.6) 10%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #212843, #212843) padding-box, linear-gradient(to left, #00FFF0, rgba(0, 0, 0, 0)) border-box;
  border: 2px solid transparent;
  box-shadow: 7px 10px 6px rgba(0, 0, 0, 0.25);
}

.end {
  display: flex;
  justify-content: center;
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader .page-transition {
  position: absolute;
  background-color: #080b16;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
}
.loader img {
  margin: auto;
  width: 375px;
  height: 211px;
  opacity: 0;
  pointer-events: none;
}

.header {
  background: rgba(18, 48, 160, 0.5);
  box-shadow: 0px 15px 10px #070E29;
  position: relative;
  z-index: 2;
  width: 100%;
}
.header-inner {
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-inner .search {
  position: relative;
}
.header-inner .search__icon {
  cursor: pointer;
  padding: 10px 0 10px 10px;
  position: relative;
  z-index: 2;
}
.header-inner .search__nav {
  height: 0;
  width: 0;
  overflow: hidden;
  opacity: 0;
  z-index: 1;
  position: absolute;
  right: -25px;
  top: -15px;
  border-radius: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)) padding-box, linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)) border-box;
  border: 1px solid transparent;
  padding: 50px 0 45px 0;
}
.header-inner .search__nav ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.header-inner .search__nav ul li a {
  display: flex;
  gap: 27px;
  align-items: center;
  padding: 0 95px 0 37px;
  font-weight: 900;
  white-space: nowrap;
}

.main-page-main {
  background: url("../img/back/stars.png"), 0 1000px/100% url("../img/back/gradient.png") no-repeat, #081130;
}
.main-page-main .bg-astro {
  background: url("../img/back/back11.png") no-repeat;
  position: absolute;
  width: 100%;
  height: 2100px;
  top: 190%;
  background-position: right;
  animation: move 8s linear infinite alternate;
  z-index: 0;
}
@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-37px, -40px);
  }
}
.main-page-main .section-earth {
  /* All the same stuff for Firefox */
}
.main-page-main .section-earth .earth-video {
  margin: 0 auto;
  width: 80%;
}
.main-page-main .section-earth .earth-video #video {
  width: 100%;
}
.main-page-main .section-earth .wrapper .earth-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.main-page-main .section-earth .wrapper .earth-container .icons {
  width: 70px;
  height: 100%;
  top: -420px;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.main-page-main .section-earth .wrapper .earth-container .icons .icon-container {
  width: 50px;
  height: 50px;
}
.main-page-main .section-earth .wrapper .earth-container .icons .icon-container-1,
.main-page-main .section-earth .wrapper .earth-container .icons .icon-container-3 {
  margin-left: 50px;
}
.main-page-main .section-earth .wrapper .earth-container .icons .icon-container-4,
.main-page-main .section-earth .wrapper .earth-container .icons .icon-container-6 {
  margin-right: 50px;
}
.main-page-main .section-earth .wrapper .earth-container .icons-1 {
  left: 17%;
}
.main-page-main .section-earth .wrapper .earth-container .icons-2 {
  right: 15%;
}
.main-page-main .section-earth .wrapper .earth-range {
  top: -50px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  height: 3px;
}
.main-page-main .section-earth .wrapper .earth-range #myRange {
  width: 100%;
  z-index: 1;
}
.main-page-main .section-earth .wrapper .earth-range .mask {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-color: #8C94B4;
}
.main-page-main .section-earth .wrapper .earth-range .mask .dot {
  z-index: 0;
  position: absolute;
  left: 0;
  top: -3px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}
.main-page-main .section-earth .wrapper .earth-range .mask .dot-0 {
  background-color: #00FFF0;
  top: -8px;
  width: 20px;
  height: 20px;
}
.main-page-main .section-earth .wrapper .earth-range .mask .dot-15 {
  top: -8px;
  width: 20px;
  height: 20px;
}
.main-page-main .section-earth input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 1000px;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
}
.main-page-main .section-earth input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
.main-page-main .section-earth input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
.main-page-main .section-earth input[type=range]::-ms-track {
  width: 1000px;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.main-page-main .section-earth input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #00FFF0;
  cursor: pointer;
  margin-top: -3px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}
.main-page-main .section-earth input[type=range]::-moz-range-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #00FFF0;
  cursor: pointer;
}
.main-page-main .section-earth input[type=range]::-webkit-slider-runnable-track {
  width: 1000px;
  height: 3px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  border-radius: 1.3px;
}
.main-page-main .section-earth input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(0, 0, 0, 0);
}
.main-page-main .section-earth input[type=range]::-moz-range-track {
  width: 1000px;
  height: 3px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  border-radius: 1.3px;
}
.main-page-main .section-earth input[type=range]::-ms-track {
  width: 1000px;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.main-page-main .section-earth input[type=range]::-ms-fill-lower {
  background: rgba(0, 0, 0, 0);
  border-radius: 1.3px;
}
.main-page-main .section-earth input[type=range]:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0);
}
.main-page-main .section-earth input[type=range]::-ms-fill-upper {
  background: rgba(0, 0, 0, 0);
  border-radius: 1.3px;
}
.main-page-main .section-earth input[type=range]:focus::-ms-fill-upper {
  background: rgba(0, 0, 0, 0);
}
.main-page-main .section-tabs {
  margin-top: 220px;
}
.main-page-main .section-tabs .tabs {
  height: 200px;
  display: flex;
  align-items: center;
  position: relative;
}
.main-page-main .section-tabs .tabs-animation {
  z-index: 0;
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 7px 10px 6px rgba(0, 0, 0, 0.25);
  width: 47%;
  height: 220px;
}
.main-page-main .section-tabs .tabs-animation__tab-1 {
  border-radius: 0 30px 30px 0;
  top: 0;
  left: 0;
}
.main-page-main .section-tabs .tabs-animation__tab-2 {
  border-radius: 30px 0 0 30px;
  top: 0;
  right: 0;
  width: 44%;
}
.main-page-main .section-tabs .tabs-items {
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
.main-page-main .section-tabs .tabs-items__item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-page-main .section-tabs .tabs-items__item .tab-1 {
  position: relative;
  left: 15%;
  opacity: 1;
  transition: 0.5s;
}
.main-page-main .section-tabs .tabs-items__item .tab-2 {
  opacity: 0.5;
  transition: 0.5s;
}
.main-page-main .section-tabs .tabs-items__item .tab-1:hover,
.main-page-main .section-tabs .tabs-items__item .tab-2:hover {
  opacity: 0.75;
}
.main-page-main .section-tabs .tabs-items__item .tab-1__description {
  position: relative;
  right: 20%;
}
.main-page-main .section-tabs .tabs-items__item .tab-2__description {
  position: relative;
  left: 60px;
}
.main-page-main .section-tabs .tabs-items__item h2 {
  cursor: pointer;
  font-size: 48px;
  font-weight: 900;
}
.main-page-main .section-tabs .tabs-items__item p {
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
}
.main-page-main .section-tabs .tab__content .tab__pane {
  margin-top: 135px;
  display: flex;
  flex-direction: column;
  gap: 150px;
}
.main-page-main .section-tabs .tab__content .tab__pane__precambrian-container {
  width: 100%;
  z-index: 1;
}
.main-page-main .section-tabs .tab__content .tab__pane__precambrian-container .precambrian__container-item {
  display: flex;
  gap: 65px;
  justify-content: center;
  justify-content: space-between;
}
.main-page-main .section-tabs .tab__content .tab__pane__precambrian-container .precambrian__container-item .phase__discription {
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), radial-gradient(49.88% 53.75% at 50% 0%, rgba(0, 255, 240, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  width: 440px;
  height: max-content;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 40px;
}
.main-page-main .section-tabs .tab__content .tab__pane__precambrian-container .precambrian__container-item .phase__discription-title {
  padding-top: 30px;
}
.main-page-main .section-tabs .tab__content .tab__pane__precambrian-container .precambrian__container-item .phase__discription-title h2 {
  font-size: 32px;
}
.main-page-main .section-tabs .tab__content .tab__pane__precambrian-container .precambrian__container-item .phase__discription-title p {
  font-style: italic;
  padding-top: 20px;
  font-size: 20px;
}
.main-page-main .section-tabs .tab__content .tab__pane__precambrian-container .precambrian__container-item .phase__discription-maturation {
  width: 48%;
  line-height: 24px;
  font-size: 20px;
  padding: 10px 0 32px 0;
}
.main-page-main .section-tabs .tab__content .tab__pane__precambrian-container .precambrian__container-item .phase__discription-phenomens {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  width: 65%;
  padding-bottom: 30px;
}
.main-page-main .section-tabs .tab__content .tab__pane__precambrian-container .precambrian__container-item .phase__image {
  position: relative;
  top: 70px;
}
.main-page-main .section-tabs .tab__content .tab__pane__precambrian-container .precambrian__container-item .phase__image .katarhey-moon-img {
  position: absolute;
  top: 63%;
  right: 75%;
  animation: moving 60s infinite linear;
  transform-origin: 150% -32%;
  z-index: 1;
}
@keyframes moving {
  100% {
    transform: rotate(-360deg);
  }
}
.main-page-main .section-tabs .tab__content .tab__pane__precambrian-container .precambrian__container-item .phase__image .katarhey-phase {
  position: inherit;
  z-index: 1;
}
.main-page-main .section-tabs .tab__content .tab__pane .periods {
  z-index: 1;
  width: 85%;
  margin: 0 auto;
}
.main-page-main .section-tabs .tab__content .tab__pane .periods #drop_2 {
  margin-top: 40px;
}
.main-page-main .section-tabs .tab__content .tab__pane .periods__title {
  display: flex;
  align-items: center;
  gap: 30px;
}
.main-page-main .section-tabs .tab__content .tab__pane .periods__title p {
  font-size: 24px;
}
.main-page-main .section-tabs .tab__content .tab__pane .periods__title .dropdown-info {
  cursor: pointer;
}
.main-page-main .section-tabs .tab__content .tab__pane .periods-items {
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.main-page-main .section-tabs .tab__content .tab__pane .periods-items.fixwrap {
  gap: 35px;
}
.main-page-main .section-tabs .tab__content .tab__pane .periods-items .panel {
  padding: 0 18px;
  background-color: white;
}
.main-page-main .section-tabs .tab__content .tab__pane .periods-items .group-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-page-main .section-tabs .tab__content .tab__pane .periods-items .group-wrapper__title {
  text-align: center;
  width: 354px;
  height: 85px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.main-page-main .section-tabs .tab__content .tab__pane .periods-items .group-wrapper__title a {
  font-weight: 600;
  font-size: 18px;
}
.main-page-main .section-tabs .tab__content .tab__pane .periods-items .group-wrapper__title p {
  font-weight: 400;
  font-size: 12px;
  font-style: italic;
}
.main-page-main .section-tabs .tab__content .tab__pane .periods-items .item {
  cursor: pointer;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 190px;
  padding: 40px 0;
  transition: 1s;
  border-radius: 30px;
  position: relative;
}
@media (min-width: 1520px) {
  .main-page-main .section-tabs .tab__content .tab__pane .periods-items .item {
    width: 210px;
  }
}
.main-page-main .section-tabs .tab__content .tab__pane .periods-items .item::before {
  z-index: -10;
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  background: 0 0/100% 100% url("../img/back/planet-back.png") no-repeat;
  transition: 0.5s;
  opacity: 0;
}
.main-page-main .section-tabs .tab__content .tab__pane .periods-items .item:hover::before {
  opacity: 1;
}
.main-page-main .section-tabs .tab__content .tab__pane .periods-items .item img {
  z-index: 1;
  width: 120px;
  margin-bottom: 35px;
}
.main-page-main .section-tabs .tab__content .tab__pane .periods-items .item__title {
  margin-bottom: 11px;
}
.main-page-main .section-tabs .tab__content .tab__pane .periods-items .item__title h3 {
  font-size: 16px;
  font-weight: 600;
}
.main-page-main .section-tabs .tab__content .tab__pane .periods-items .item__description p {
  font-size: 12px;
  font-style: italic;
  color: #FFFCC0;
}
.main-page-main .section-tabs .tab__content #tab_2 {
  display: none;
}

.planetinfo-main {
  background: 100% 0/100% 100% url("../img/back/gradient-planetinfo.png") no-repeat, 0 0/100% auto url("../img/back/stars.png") no-repeat, #08102E;
  padding: 0 0 200px 0;
}
.planetinfo-main .planet-info__container {
  padding-top: 70px;
  display: flex;
}
.planetinfo-main .planet-info__container__left {
  margin-top: 90px;
}
.planetinfo-main .planet-info__container__left .planet-img-container {
  right: 250px;
  position: relative;
  display: flex;
}
.planetinfo-main .planet-info__container__left .planet-img-container .img-big-planet {
  width: 650px;
  height: 651px;
}
.planetinfo-main .planet-info__container__left .planet-img-container .icon {
  position: absolute;
  left: 320px;
  transform-origin: 35px 400px;
  top: -80px;
  opacity: 0.4;
}
.planetinfo-main .planet-info__container__left .planet-img-container .icon img {
  width: 70px;
  height: 70px;
}
.planetinfo-main .planet-info__container__left .planet-img-container .icon.active {
  display: flex;
  border-radius: 50%;
  opacity: 1;
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.44);
}
.planetinfo-main .planet-info__container__left .planet-img-container .icon-1 img {
  transform: rotate(0deg);
}
.planetinfo-main .planet-info__container__left .planet-img-container .icon-2 {
  transform: rotate(30deg);
}
.planetinfo-main .planet-info__container__left .planet-img-container .icon-2 img {
  transform: rotate(330deg);
}
.planetinfo-main .planet-info__container__left .planet-img-container .icon-3 {
  transform: rotate(60deg);
}
.planetinfo-main .planet-info__container__left .planet-img-container .icon-3 img {
  transform: rotate(300deg);
}
.planetinfo-main .planet-info__container__left .planet-img-container .icon-4 {
  transform: rotate(90deg);
}
.planetinfo-main .planet-info__container__left .planet-img-container .icon-4 img {
  transform: rotate(270deg);
}
.planetinfo-main .planet-info__container__left .planet-img-container .icon-5 {
  transform: rotate(120deg);
}
.planetinfo-main .planet-info__container__left .planet-img-container .icon-5 img {
  transform: rotate(240deg);
}
.planetinfo-main .planet-info__container__left .planet-img-container .icon-6 {
  transform: rotate(150deg);
}
.planetinfo-main .planet-info__container__left .planet-img-container .icon-6 img {
  transform: rotate(210deg);
}
.planetinfo-main .planet-info__container__left .planet-img-container .icon-7 {
  transform: rotate(180deg);
}
.planetinfo-main .planet-info__container__left .planet-img-container .icon-7 img {
  transform: rotate(180deg);
}
.planetinfo-main .planet-info__container__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 33%;
  gap: 145px;
}
.planetinfo-main .planet-info__container__right .about-planet-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.planetinfo-main .planet-info__container__right .about-planet-container h2 {
  font-family: "Rubik";
  font-size: 40px;
}
.planetinfo-main .planet-info__container__right .about-planet-container h3 {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  font-size: 25px;
}
.planetinfo-main .planet-info__container__right .about-planet-container p {
  font-family: "Rubik";
  font-size: 20px;
  padding-top: 57px;
}
.planetinfo-main .planet-info__container__right .planet-slider-container {
  width: 330px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.planetinfo-main .planet-info__container__right .planet-slider-container .level-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.planetinfo-main .planet-info__container__right .planet-slider-container .level-1 .numbers {
  display: flex;
  align-items: flex-end;
}
.planetinfo-main .planet-info__container__right .planet-slider-container .level-1 .numbers .first p {
  font-family: "Rubik";
  font-size: 64px;
  font-weight: 700;
}
.planetinfo-main .planet-info__container__right .planet-slider-container .level-1 .numbers .palka p {
  font-family: "Rubik";
  font-size: 64px;
  font-weight: 700;
}
.planetinfo-main .planet-info__container__right .planet-slider-container .level-1 .numbers .second p {
  font-family: "Rubik";
  font-size: 24px;
  font-weight: 700;
  line-height: 45px;
}
.planetinfo-main .planet-info__container__right .planet-slider-container .level-1 .name {
  margin-bottom: 10px;
}
.planetinfo-main .planet-info__container__right .planet-slider-container .level-1 .name a {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}
.planetinfo-main .planet-info__container__right .planet-slider-container .level-2 {
  display: flex;
  gap: 40px;
  margin-left: 15px;
}
.planetinfo-main .planet-info__container__right .planet-slider-container .level-2 .left {
  transform: rotate(90deg);
}
.planetinfo-main .planet-info__container__right .planet-slider-container .level-2 .right {
  transform: rotate(-90deg);
}
.planetinfo-main .planet-info__container__right .planet-slider-container .progressbar {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: relative;
}
.planetinfo-main .planet-info__container__right .planet-slider-container .progressbar .progressbar-ch {
  position: absolute;
  height: 4px;
  left: 0;
  width: 33.3333333333%;
  top: -1px;
  background-color: #fff;
}
.planetinfo-main .planet-info__container__eras {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.planetinfo-main .planet-info__container__eras .about-planet-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}
.planetinfo-main .planet-info__container__eras .about-planet-container h2 {
  font-family: "Rubik";
  font-size: 40px;
}
.planetinfo-main .planet-info__container__eras .about-planet-container h3 {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  font-size: 25px;
}
.planetinfo-main .planet-info__container__eras .about-planet-container p {
  font-family: "Rubik";
  font-size: 20px;
}
.planetinfo-main .planet-info__container__eras .planet-slider-container {
  width: 50%;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.planetinfo-main .planet-info__container__eras .planet-slider-container .level-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.planetinfo-main .planet-info__container__eras .planet-slider-container .level-1 .numbers {
  display: flex;
  align-items: flex-end;
}
.planetinfo-main .planet-info__container__eras .planet-slider-container .level-1 .numbers .first p {
  font-family: "Rubik";
  font-size: 64px;
  font-weight: 700;
}
.planetinfo-main .planet-info__container__eras .planet-slider-container .level-1 .numbers .palka p {
  font-family: "Rubik";
  font-size: 64px;
  font-weight: 700;
}
.planetinfo-main .planet-info__container__eras .planet-slider-container .level-1 .numbers .second p {
  font-family: "Rubik";
  font-size: 24px;
  font-weight: 700;
  line-height: 45px;
}
.planetinfo-main .planet-info__container__eras .planet-slider-container .level-1 .name {
  margin-bottom: 10px;
}
.planetinfo-main .planet-info__container__eras .planet-slider-container .level-1 .name a {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}
.planetinfo-main .planet-info__container__eras .planet-slider-container .level-2 {
  display: flex;
  gap: 40px;
  margin-left: 15px;
}
.planetinfo-main .planet-info__container__eras .planet-slider-container .level-2 .left {
  transform: rotate(90deg);
}
.planetinfo-main .planet-info__container__eras .planet-slider-container .level-2 .right {
  transform: rotate(-90deg);
}
.planetinfo-main .planet-info__container__eras .planet-slider-container .progressbar {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: relative;
}
.planetinfo-main .planet-info__container__eras .planet-slider-container .progressbar .progressbar-ch {
  position: absolute;
  height: 4px;
  left: 0;
  width: 33.3333333333%;
  top: -1px;
  background-color: #fff;
}
.planetinfo-main .reference__planet__container {
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  gap: 95px;
  font-family: "Rubik";
}
.planetinfo-main .reference__planet__container-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 42px;
}
.planetinfo-main .reference__planet__container-item .reference-icon img {
  width: 70px;
  height: 70px;
}
.planetinfo-main .reference__planet__container-item .reference-icon.active {
  display: flex;
  border-radius: 50%;
  opacity: 1;
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.44);
}
.planetinfo-main .reference__planet__container-item .reference-information {
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 4px 4px 50px 10px rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  position: relative;
  padding: 9px 76px 38px 48px;
}
.planetinfo-main .reference__planet__container-item .reference-information p {
  padding: 25px 0 0 0;
  z-index: 1;
  color: black;
  font-size: 14px;
  line-height: 17px;
}

.era_container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.era_container .block-info__item {
  background: radial-gradient(43.56% 75.24% at 50% 0%, rgba(92, 246, 236, 0.6) 10%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #212843, #212843) padding-box, linear-gradient(to left, #00FFF0, rgba(0, 0, 0, 0)) border-box;
  border: 2px solid transparent;
  box-shadow: 7px 10px 6px rgba(0, 0, 0, 0.25);
  width: 750px;
  height: 325px;
  border-radius: 30px;
  display: flex;
  padding: 40px 50px 40px 30px;
  box-sizing: border-box;
  gap: 70px;
}
@media (min-width: 1700px) {
  .era_container .block-info__item {
    width: 100%;
    height: 430px;
  }
}
.era_container .block-info__item .block-info__planet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.era_container .block-info__item .block-info__planet img {
  width: 200px;
  height: 200px;
}
@media (min-width: 1700px) {
  .era_container .block-info__item .block-info__planet img {
    width: 300px;
    height: 300px;
  }
}
.era_container .block-info__item .block-info__planet .block-info__name {
  font-family: Rubik;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  align-items: flex-start;
}
@media (min-width: 1700px) {
  .era_container .block-info__item .block-info__planet .block-info__name {
    font-size: 26px;
  }
}
.era_container .block-info__item .block-info__planet .block-info__name .block-info__title p {
  font-weight: 600;
}
.era_container .block-info__item .block-info__planet .block-info__name .block-info__undertitle p {
  font-style: italic;
  font-size: 12px;
  text-align: end;
  margin-top: 5px;
}
@media (min-width: 1700px) {
  .era_container .block-info__item .block-info__planet .block-info__name .block-info__undertitle p {
    font-size: 18px;
  }
}
.era_container .block-info__item .block-info__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.era_container .block-info__item .block-info__description-title h3 {
  font-family: Rubik;
  font-size: 24px;
  font-weight: 700;
}
@media (min-width: 1700px) {
  .era_container .block-info__item .block-info__description-title h3 {
    font-size: 44px;
  }
}
.era_container .block-info__item .block-info__description .block-info__icons {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 30px;
  gap: 20px;
}
.era_container .block-info__item .block-info__description .block-info__icons .icons-item {
  filter: drop-shadow(-4px -4px 20px rgba(255, 255, 255, 0.65)) drop-shadow(4px 4px 20px rgba(255, 255, 255, 0.65));
  width: 70px;
  height: 70px;
}
.era_container .block-info__item .block-info__description .block-info__icons .icons-item img {
  width: 100%;
}
.era_container .block-info__item-mini {
  background: radial-gradient(43.56% 75.24% at 50% 0%, rgba(92, 246, 236, 0.6) 10%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #212843, #212843) padding-box, linear-gradient(to left, #00FFF0, rgba(0, 0, 0, 0)) border-box;
  border: 2px solid transparent;
  box-shadow: 7px 10px 6px rgba(0, 0, 0, 0.25);
  width: 750px;
  height: 210px;
  border-radius: 30px;
  display: flex;
  padding: 20px 50px 40px 30px;
  box-sizing: border-box;
  gap: 65px;
}
@media (min-width: 1700px) {
  .era_container .block-info__item-mini {
    width: 100%;
    height: 330px;
  }
}
.era_container .block-info__item-mini .block-info__planet .block-info__name {
  margin-top: 13px;
  font-family: Rubik;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 16px;
}
@media (min-width: 1700px) {
  .era_container .block-info__item-mini .block-info__planet .block-info__name {
    font-size: 26px;
  }
}
.era_container .block-info__item-mini .block-info__planet .block-info__name .block-info__title p {
  font-weight: 700;
  font-size: 28px;
}
.era_container .block-info__item-mini .block-info__planet .block-info__name .block-info__undertitle p {
  font-style: italic;
  font-size: 18px;
  font-weight: 300;
}
@media (min-width: 1700px) {
  .era_container .block-info__item-mini .block-info__planet .block-info__name .block-info__undertitle p {
    font-size: 22px;
  }
}
.era_container .block-info__item-mini .block-info__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.era_container .block-info__item-mini .block-info__description-title h3 {
  font-family: Rubik;
  font-size: 28px;
  font-weight: 700;
}
@media (min-width: 1700px) {
  .era_container .block-info__item-mini .block-info__description-title h3 {
    font-size: 44px;
  }
}
.era_container .block-info__item-mini .block-info__description .block-info__icons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.era_container .block-info__item-mini .block-info__description .block-info__icons .icons-item {
  filter: drop-shadow(-4px -4px 20px rgba(255, 255, 255, 0.65)) drop-shadow(4px 4px 20px rgba(255, 255, 255, 0.65));
  width: 70px;
  height: 70px;
}
.era_container .block-info__item-mini .block-info__description .block-info__icons .icons-item img {
  width: 100%;
}

.definitions {
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
}
.definitions-main {
  width: 100%;
  background: 100% 0/cover url("../img/back/gradient-definitions.png") no-repeat, 0 0/100% auto url("../img/back/stars.png") no-repeat, #08102E;
  height: 100%;
  min-height: 100vh;
}
.definitions-main .content-inner {
  width: 90%;
  margin: 130px auto 0 auto;
}
.definitions-main .content-inner .content-text {
  margin: 0 auto;
  line-height: 23.7px;
  font-size: 20px;
  font-weight: 400;
}
.definitions-main .content-inner .content-text span {
  font-size: 32px;
  font-weight: 900;
}
.definitions-main .content-inner .content-periods {
  margin-top: 80px;
}
.definitions-main .content-inner .content-periods-items {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  overflow: hidden;
}
.definitions-main .content-inner .content-periods-items .item {
  z-index: 1;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 190px;
  padding: 40px 0;
}
@media (min-width: 1520px) {
  .definitions-main .content-inner .content-periods-items .item {
    width: 210px;
  }
}
.definitions-main .content-inner .content-periods-items .item img {
  width: 120px;
  z-index: 1;
}
.definitions-main .content-inner .content-periods-items .item__title {
  margin: 45px 0 11px 0;
}
.definitions-main .content-inner .content-periods-items .item__description p {
  text-align: center;
}
.definitions-main .content-inner .content-periods-items .item::before {
  z-index: -10;
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  background: 0 0/100% 100% url("../img/back/planet-back.png") no-repeat;
  opacity: 0;
  transition: 0.5s;
}
.definitions-main .content-inner .content-periods-items .item:hover::before {
  opacity: 1;
}

.literature-main {
  padding: 0 0 300px 0;
  width: 100%;
  min-height: 100vh;
  background: 150px -50px/100% url("../img/back/back11.png") no-repeat, url("../img/back/stars.png") no-repeat, 100% 0px/100% 100% url("../img/back/gr.png") no-repeat, #08102E;
}
.literature-main .orange {
  color: #FFFCC0;
}
.literature-main h2 {
  margin-top: 140px;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
}
.literature-main__list {
  width: 40%;
  margin: 0 auto;
}
.literature-main__list h3 {
  margin-top: 68px;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
}
.literature-main__list p {
  margin-top: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}
